<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!-- 引入vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>

    <!-- 引入element -->
    <script src="//unpkg.com/element-ui@2.11.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue-resource -->
    <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js" type="text/javascript" charset="utf-8"></script>
    <style lang="scss">
        .el-tooltip__popper {
            max-width: 40%
        }
        .el-menu-vertical-demo:not(.el-menu--collapse) {
            width: 200px;
            min-height: 400px;
        }
        .el-popover {
            background: rgb(177, 176, 176) !important;
        }
        span {
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 2px;
            padding: 2px;
        }
        .popover {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 1px;
            z-index: 1060;
            display: block;
            max-width: 276px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-style: normal;
            font-weight: 500;
            line-height: 2.4;
            text-align: center;
            text-align: start;
            text-decoration: none;
            text-shadow: none;
            text-transform: none;
            letter-spacing: normal;
            word-break: normal;
            word-spacing: normal;
            white-space: normal;
            line-break: auto;
            font-size: .875rem;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: padding-box;
        }

    </style>
    <title>时光序数据库操作</title>
</head>
<body style="background-color: #cdd7d7">
<div id="app" style="margin: 0">
    <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1" style="color: #21aeff;font-weight: bold;font-size: 18px">时光序测试平台</el-menu-item>
        <el-menu-item index="1">首页</el-menu-item>
        <el-submenu index="2">
            <template slot="title">测试用例管</template>
            <el-menu-item index="2-1">Android测试用例</el-menu-item>
            <el-menu-item index="2-2">IOS测试用例</el-menu-item>
            <el-menu-item index="2-3">web端测试用例</el-menu-item>
        </el-submenu>
        <el-menu-item index="3"><a href="/index">接口自动化管理</a></el-menu-item>
        <el-menu-item index="4"><a href="/performance">接口性能测试管理</a></el-menu-item>
        <el-menu-item index="5"><a href="/plan">测试计划管理</a></el-menu-item>
        <el-menu-item index="6">缺陷统计</el-menu-item>
        <el-menu-item index="7">测试报告</el-menu-item>
        <el-menu-item index="8"><a href="/sqlIndex">SqL操作</a></el-menu-item>
        <el-menu-item index="9">Redis操作</el-menu-item>
        <el-menu-item index="10"><a href="../static/testData.html">测试资源&数据</a></el-menu-item>
        <el-menu-item index="11">测试技术分享</el-menu-item>
        <button type="button" class="btn btn-danger" style="line-height: 2.8;position: absolute;right: 1px;">退出登陆
        </button>
    </el-menu>
    <el-row style="margin: 20px">
        <el-col :span="12"  style=";border:2px solid #f0903c" v-loading="actionLoading" element-loading-text="加载中，请稍后" >
            <el-divider content-position="center"  >用户信息查询</el-divider>
            <div class="grid-content bg-purple" style="margin: 20px" >
                <p style="font-weight: bold">
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入手机号" v-model="userPhone"></el-input>
                    <el-button style="margin: 5px" type="success" @click="getUserInfo">查询用户信息</el-button>
                    <span style="display: block;color: #3e50f0">
                        {%verbatim%}
                            用户ID：{{userInfo.user_id}}<br>
                            昵称：{{userInfo.user_name}}<br>
                            绑定邮箱：{{userInfo.email}}<br>
                            短信验证码：{{userInfo.phoneCode}}<br>
                            邮箱验证码：{{userInfo.emailCode}}<br>
                        {%endverbatim%}
                    </span>
                </p>
            </div>
            <div class="grid-content bg-purple" style="margin: 20px" >
                <p style="font-weight: bold">
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入Token" v-model="token"></el-input>
                    <el-button style="margin: 5px" type="success" @click="getTokenInfo">查询用户token</el-button>
                    <span style="display: block;color: #3e50f0">
                     {%verbatim%}
                        UserId：{{tokenInfo.user_id}}<br>
                        deviceTagApp：{{tokenInfo.device_tag_app}}<br>
                        moblie：{{tokenInfo.moblie}}<br>
                        登录时间：{{tokenInfo.updated}}<br>
                     {%endverbatim%}
                    </span>
                </p>
            </div>
            <el-divider content-position="center"  >账号注册</el-divider>
            <div class="grid-content bg-purple" style="margin: 20px"  >
                <p style="font-weight: bold" >
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入手机号" v-model="registerPhone"></el-input>
                    <el-button style="margin: 5px" type="success" @click="register">注册</el-button>
                    <el-button style="margin: 5px" type="primary">批量注册</el-button>
                    <span style="display: block;color: #3e50f0">
                        批量注册成功手机号如下：<br>
                        {{phoneList}}
                    </span>
                </p>
            </div>
            <el-divider content-position="center"  >短信获取记录清除</el-divider>
            <div class="grid-content bg-purple" style="margin: 20px" >
                <p style="font-weight: bold">
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入手机号" v-model="clearPhone"></el-input>
                    <el-button style="margin: 5px" type="success" @click="clearPhoneCodeRecords">清除手机获取验证码记录</el-button>
                </p>
                <p style="font-weight: bold">
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入设备型号" v-model="clearModel"></el-input>
                    <el-button style="margin: 5px" type="success" @click="clearModelCodeRecords">清除设备获取验证码记录</el-button>
                </p>
            </div>
            <el-divider content-position="center"  >事项当日100条限制清除</el-divider>
            <div class="grid-content bg-purple" style="margin: 20px" >
                <p style="font-weight: bold">
                    <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入手机号" v-model="clearItemPhone"></el-input>
                    <el-button style="margin: 5px" type="success" @click="changeCreatedTime">清除账号每日100条事项限制</el-button>
                </p>
            </div>
        </el-col>
        <el-col :span="12" style=";border:2px solid #eb9419;border-left:0" v-loading="actionLoading2" element-loading-text="加载中，请稍后">
            <div class="grid-content bg-purple-light">
                <el-divider content-position="center"  >事项查询</el-divider>
                <div class="grid-content bg-purple" style="margin: 20px " >
                    <p style="font-weight: bold">
                        <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入日程ID" v-model="todo_id"></el-input>
                        <el-button style="margin: 5px" type="success" @click="getTodoInfo">日程查询</el-button>
                        <span style="display: block;color: #3e50f0">
                        {%verbatim%}
                        用户ID：{{todoInfo.user_id}}<br>
                        日程标题：{{todoInfo.short_title}}<br>
                        日程是否在回收站(1:正常/0：回收站)：{{todoInfo.status}}<br>
                        日程是否删除（0:未删除/1:已删除）：{{todoInfo.deleted}}<br>
                        日程类型：{{todoInfo.todo_type}}<br>
                        日程是否打卡（1:已打卡/0:未打卡）：{{todoInfo.finish_state}}<br>
                        日程提前提醒类型：{{todoInfo.ahead_type}}<br>
                        日程提醒时间：{{todoInfo.todo_time}}<br>
                        下次提醒时间：{{todoInfo.next_time}}<br>
                        日程创建时间：{{todoInfo.created}}<br>
                        {%endverbatim%}
                    </span>
                    </p>
                </div>
                <div class="grid-content bg-purple" style="margin: 20px " >
                    <p style="font-weight: bold">
                        <el-input  style="float:left;margin: 5px;width: 65%" placeholder="请输入手机号" v-model="buriedPhone"></el-input>
                        <el-button style="margin: 5px" type="success" @click="getBuriedInfo">通过手机号查询埋点</el-button>
                        <span style="display: block;color: #3e50f0">
                       {%verbatim%}
                            用户ID：{{buriedInfo.user_id}}<br>
                            device_tag：{{buriedInfo.device_tag}}<br>
                            event_type：{{buriedInfo.event_type}}<br>
                            event_param：{{buriedInfo.event_param}}<br>
                            referrer：{{buriedInfo.referrer}}<br>
                            ip：{{buriedInfo.ip}}<br>
                            channel：{{buriedInfo.channel}}<br>
                            network_type：{{buriedInfo.network_type}}<br>
                            os_type：{{buriedInfo.os_type}}<br>
                            created：{{buriedInfo.created}}<br>
                            app_version：{{buriedInfo.app_version}}<br>
                        {%endverbatim%}
                    </span>
                    </p>
                </div>
            </div>
        </el-col>
    </el-row>
</div>
<script src="../../static/js/sqlOperation.js"  type="text/javascript">

</script>

</body>
</html>